body {
    margin: 0;
  }
  #c {
    width: 100vw;
    height: 100vh;
    display: block;
    background: url(https://r105.threejsfundamentals.org/threejs/resources/images/daikanyama.jpg) no-repeat center center ;
    background-size: cover;
  }
  